body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #666969;
  margin-top: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #00777;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #1199E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #645CAA 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #1199E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF666;
}

.bottom-container {
  color: #EAF6F6;
  font-size: o.75rem;
  padding: 20px 0px;
}

.top-container {
  background-color: #C3F8FF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.skill-row {
  width: 50%;
  margin: 100px auto; 100px auto;
  text-align: left;
  line-height: 2
}

.logo-1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.logo-2 {
  width: 25%;
  float: right;
  margin: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}
